<!DOCTYPE html>
<html>
<!--
 ##########################################################################
 Cathy.Nangini@lsce.ipsl.fr (https://github.com/katirg)
 LSCE Data Visualization Group (https://github.com/LSCE-DataVisGroup)
 ##########################################################################
-->

<head>
  <meta charset="utf-8">
  <title>Analogues Contact</title>
  <link href="{{ static_url }}/analogviewer/css/style.css" rel="stylesheet" type="text/css" media="all">

  <!-- script src="http://code.jquery.com/jquery-1.10.2.js"></script -->
  <script src="{{ static_url }}/jquery/js/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ static_url }}/analogviewer/css/sticky-footer-navbar.css" rel="stylesheet">
</head>

<body>

  <div id="wrap">

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color: #ccc;">Analogues Viewer</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="help.html">Help</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
      <!--/.container -->
    </div>
    <!--/.navbar -->

    <!-- Begin page content -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <b><p>Project Coordinator: </b><br>
          <A HREF="mailto:Pascal.Yiou@lsce.ipsl.fr">Pascal Yiou</A>
          </br>
          The project is coordinated by Pascal Yiou (CEA). He is assisted by John Bazire (CEA, project manager).
          <br><br>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <b><p>Permanent Researchers: </b><br>
          <A HREF="mailto:Mathieu.Vrac@lsce.ipsl.fr">Mathieu Vrac</A> (CNRS, leader of ESTIMR team) <br> Expertise: statistical downscaling.</br>

          <p>
            <A HREF="mailto:Philippe.Naveau@lsce.ipsl.fr">Philippe Naveau</A> (CNRS)</br>
            Expertise: extreme value theory.</br>

            <p>
              <A HREF="mailto:Robert.Vautard@lsce.ipsl.fr">Robert Vautard</A> (CNRS) </br>
              Expertise: dynamical downscaling and climate modelling.</br>
              </br>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <b><p>Data and web engineering: </b><br>
          <A HREF="mailto:Cathy.Nangini@lsce.ipsl.fr">Cathy Nangini</A> (LSCE/CNRS)</br>
          Member of the <a target="_blank" href="https://github.com/LSCE-DataVisGroup">LSCE Data Visualization Group</a> led by
          <A HREF="mailto:Patrick.Brockmann@lsce.ipsl.fr">Patrick Brockmann</A>.</br>
          Expertise: Data analysis and visualization.
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!--/.wrap -->

  <div id="footer">
    <p class="text-muted credit">Created by <a target="_blank" href="http://www.lsce.ipsl.fr/en"><span title="Climate and Environment Sciences Laboratory" style="font-weight:bold;">LSCE</span></a>&nbsp;
      <a target="_blank" href="http://www.lsce.ipsl.fr/en"><img src="{{ static_url }}/analogviewer/img/LSCE_Icon.png" title="Climate and Environment Sciences Laboratory" /></a> and hosted by <a target="_blank" href="http://www.ipsl.fr/en"><span title="Institut Pierre Simon Laplace" style="font-weight:bold;">IPSL</span></a>&nbsp;
      <a target="_blank" href="http://www.ipsl.fr/en"><img src="{{ static_url }}/analogviewer/img/IPSL_logo.png" title="Institut Pierre Simon Laplace" /></a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Version 0.9 - Sept 2016</p>

  </div>
  <!-- /.container -->

  </div>

</body>

</html>
